<a href="{{ novo_url }}">Criar Novo Verbete</a>
<br />
<br />
{% for v in verbetes %}
  <dl>
    <dt>Criaçao</dt>
    <dd>{{ v.criacal }}</dd>
    <dt>Update</dt>
    <dd>{{ v.update }}</dd>
    <dt>Palavra</dt>
    <dd>{{ v.palavra }}</dd>
    <dt>Descrição</dt>
    <dd>{{ v.descricao }}</dd>
  </dl>
  <form action="{{ v.delete_path }}" method="post">
    <button type="submit">Apagar</button>
  </form>
  <a href="{{ v.edit_path }}">Editar Verbete</a>
{% else %}
  Nenhum verbete encontrado
{% endfor %}